{% comment %} <!-- templates/about.html
{% extends "base.html" %}

{% block content %}
{% comment %} <section class="about-us" {% endcomment %}
    <div class="container">
        <h1>About Us</h1>
        <div class="profile-card">
            <img src="{{ url_for('static', filename='images/developer_image.jpg') }}" alt="Developer Image">
            <h2>[Your Name]</h2>
            <p>Lead Developer</p>
            <div class="contact-info">
                <p><i class="fas fa-envelope"></i> cropcultivation@gmail.com</p>
                <p><i class="fas fa-phone"></i> +918485867263</p>
            </div>
        </div>
    </div>
</section>
{% endblock %} --> {% endcomment %}
